{% extends "main_page.html" %}
{% block data %}
{% if person == True %}
<div class="account_user_field"><div>{{ user.name }}</div>  <div>{{ user.email }}</div><div></div><a href="/autorizated_main_page/{{ user.name }}">Главная</a></div>
{% elif person == None %}
<div class="account_user_field"><a href="/"></a></div>
{% endif %}
<div id="base_field">
    {{ message }}
{% for x in rec %}
            <a href="/recept_page/{{ x.id }}52&{{ acc }}">
    <div class="account_recept_form">
        <div id="name_recept" class="big_text">{{ x.title }}</div>
        <img src="/static/img/hero_file{{ x.id }}.png" class="hero_image">
        <br>
        <div id="body_of_recept" class="big_text"><div class="to_be_continued">{{ x.discription }}</div><br> {{ x.content }}</div>
        <br><br>
        <div id="tags" class="big_text"><div class="to_be_continued"> {{ x.category_tags }}</div></div>
    </div></a>
    {% endfor %}
</div>
{% endblock %}