{% extends "main_page.html" %}
{% block data %}
<form method="post" enctype=multipart/form-data>
    {% set curr_count = count %}
    <h2>Введите название рецепта</h2>
    <input type="text" name=name_recept{{curr_count}}><br>
    <h2>Прикрепите файл с фотографией готового блюда</h2>
    <input type=file name=file required><br>
    <h2>Введите описание блюда</h2>
    <input type="text" name=description_recept{{curr_count}}><br>
    <h2>Напишите полный текст рецепта</h2>
    <div id="standart_recept"><textarea id="recept_text" name=recept{{curr_count}} wrap="hard" onresize="F"></textarea></div>
    <h2>Выберите категории к которым относится рецепт</h2>
    <lable for="soup">Суп</lable>
    <input type="checkbox" name=soup value="Суп"><br>
    <lable for="desert">Дессерт</lable>
    <input type="checkbox" name=desert value="Дессерт"><br>
    <lable for="drinks">Напитки</lable>
    <input type="checkbox" name=drinks value="Напитки"><br>
    <lable for="garnir">Гарнир</lable>
    <input type="checkbox" name=garnir value="Гарнир"><br>
    <br>
    <button type="submit" class="btn btn-primary">Готово</button>
</form>

{% endblock %}
<input type="file" accept=".jpg, .png" src="/static/img/step_img[ curr_count ]">